@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MusicShop.com!</h1>
    <p>Go to <a href="https://docs.microsoft.com/aspnet/core">browse music</a> to view our selection of music!</p>
</div>
